body {
    margin: 0;
    font-family: Ubuntu, sans-serif;
    background-color: black;
    color: white
}

.container {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
}

.heading {
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #65CEEF;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 0.75rem;
}

html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 426px) {
    .heading {
        font-size: 2rem;
    }
}