.navbar {
    background-color: rgba(40, 40, 40, 0.95);
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar span {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.navbar span:hover {
    color: #65CEEF;
}

.navbar span.active {
    color: #65CEEF;
}

@media only screen and (max-width: 426px) {
    .navbar {
        justify-content: space-evenly;
    }
    
    .navbar a {
        padding: 14px 10px;
    }
}